<div>
<%= form_for([:everyone, @post], html: {multipart: true}) do |f| %>
<%= render "shared/error_messages", object: f.object %>

<%= f.label :about, "Small describtion about the fashion" %>
<%= f.text_area :about %>

<%= f.file_field :picture, class: "btn-small btn-primary" %>

<%= f.submit %>

<% end %>
</div>